<h1> Alpha Bloggers </h1>

<div class="flickr_pagination">
    <%= will_paginate @users, :container => false %>
</div>

<div>
  <% @users.each do |user| %>
    <div class="users">
      <div class="user-name">
        <%= link_to user.username, user %>
      </div>
    </div>
    <div class="user-gravatar"> 
      <%=link_to gravatar_for(user, size: 150), user %>
    </div>
    <div class="articles-count"> 
      <%= pluralize(user.articles.count, "article") %> 
    </div>
    <div class="articles-actions"> 
      <span> <%= link_to "View Profile", user %>
      </span> <%= link_to "Edit Profile", edit_user_path(user) if logged_in? && (user == current_user || current_user.admin?) %><span></span>
      </span> <%= link_to "Delete Profile", user_path(user), method: :delete if logged_in? && (user == current_user || current_user.admin?) %><span></span>
    </div>
    <div class="user-created-at"> Joined <%= time_ago_in_words(user.created_at) %> ago </div>
  <% end %>
</div>

<div class="flickr_pagination">
    <%= will_paginate @users, :container => false %>
</div>