<h1> <%= @user.username %>'s profile </h1>

<%= gravatar_for @user, size: 200 %>

<div> <%= link_to "Edit my profile", edit_user_path if logged_in? && (@user == current_user || current_user.admin?) %> </div>

<h3> Articles </h3>
<div class="flickr_pagination">
    <%= will_paginate @articles, :container => false %>
</div>

<%= render 'articles/article' %>

<div class="flickr_pagination">
    <%= will_paginate @articles, :container => false %>
</div>

<div> <%= link_to "Logout", logout_path, method: :delete %> </div>